@import "../../utilities/utils";

.game-store-container {
  overflow: auto;
  display: grid;
  text-align: center;
  grid-template-rows: 30% auto;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.25s;

  .title-container {
    width: 100%;
    height: 100%;
    background-color: #15181d;
    text-align: center;

    h1 {
      font-size: 4vmax;
      color: white;
      width: 100%;
    }

    button {
      position: absolute;
      font-size: 2vmax;
      left: 20px;
      top: 20px;
      background-color: transparent;
      color: white;
      border: 0;
      outline: none;
      cursor: pointer;
    }
  }

  .main-content {
    grid-row-start: 2;
    width: 100%;
    height: 100%;

    .content-border {
      height: 100px;
      margin: 20px 20px 0;
      border-radius: 5px;
      background-color: #2b2d39;
      display: flex;
      align-items: center;

      .name {
        flex-shrink: 0.6;
        display: flex;
        width: 100%;
        font-size: clamp(30px, 3vmax, 40px);
        font-weight: bold;
        color: white;
        margin-left: 20px;
      }

      .icon {
        flex-shrink: 0;
        display: flex;
        height: 80px;
        width: 80px;
        border-radius: 5px;
        margin-left: 10px;
        background-color: #15181d;
      }

      .progress-bar {
        visibility: hidden;
        display: flex;
        width: 100%;
        height: 100%;
        margin-right: 20px;
        border-radius: 2px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .install-status {
          margin-top: 5px;
          font-size: clamp(18px, 1.5vmax, 22px);
          //font-weight: bold;
          color: white;
        }

        .background {
          border-radius: inherit;
          height: 10%;
          width: 100%;
          background-color: #1f232e;

          .filler {
            border-radius: inherit;
            height: 100%;
            transition: width 0.25s ease-in-out;
            background-color: #f39c12;
          }
        }
      }

      .play-button {
        @extend %no-border;
        display: none;
        height: 45%;
        width: 100%;
        margin-right: 20px;
        font-size: 24px;
        background-image: linear-gradient(to bottom, #24d9a1, #3dd2c6);
        outline: 0;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 1px 2px black;
        transition: transform 0.125s;
      }

      .play-button:hover {
        transform: translateY(10%);
      }

      .buttons-container {
        display: flex;
        margin-right: 20px;

        button {
          color: white;
          height: 40px;
          width: 40px;
          border-radius: 5px;
          background-color: #15181d;
          border: 0;
          font-size: 25px;
          outline: none;
          cursor: pointer;
        }

        button:first-of-type {
          margin-right: 10px;
        }

        button:last-of-type {
          margin-left: 10px;
        }
      }
    }

    .description-border {
      height: 200px;
      margin: 10px 20px;
      border-radius: 5px;
      background-color: #2b2d39;
      padding: 10px;
      text-align: center;

      div {
        font-size: clamp(20px, 2vmax, 28px);
        color: white;
      }
    }
  }
}