@import "../../utilities/utils";

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;

  .button-border {
    @extend %no-border-background;
    width: 45%;
    height: 45%;
    background-color: #1f232e;
    font-size: clamp(20px, 2vmax, 28px);
    border-radius: 5px;
    box-shadow: 0 1px 3px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    padding: 0;
  }
}