@import "../../utilities/utils";

.title-buttons-container {
  button {
    @extend %no-border-background;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    color: white;
    font-size: clamp(20px, 2vmax, 26px);
    font-weight: bold;
    cursor: pointer;
  }

  button:first-of-type {
    margin-right: 35px;
  }

  button:last-of-type {
    margin-left: 35px;
    margin-right: 55px;
  }
}