.top-title .search-input {
  border-width: 0;
  border-color: transparent;
  border-style: none;
}

.window-main {
  border-width: 0;
  border-color: transparent;
  border-style: none;
  background-color: transparent;
  background-image: none;
}

.center-content .friends-container,
.center-content .home-container,
.center-content .library-container,
.center-content .settings-container,
.center-content .store-container, .window-main {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.window-main {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  background-color: #1f2229;
  display: grid;
  grid-template-columns: 130px auto;
  grid-template-rows: clamp(75px, 15%, 130px) auto;
}

.top-title {
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #2b2d39;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px;
  z-index: 1;
}
.top-title .name {
  display: flex;
  height: 100%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.top-title .name .name-border {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #15181d;
  height: 60%;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 1px 3px;
}
.top-title .name .name-border h2 {
  margin: 0;
  width: 100%;
  font-size: clamp(30px, 3vmax, 50px);
  font-weight: bold;
  color: white;
}
.top-title .search-input {
  margin-left: 20px;
  height: 45px;
  width: 100%;
  background-color: #3c404c;
  padding: 0 15px;
  color: white;
  border-radius: 5px;
  outline: 0;
  font-size: 20px;
}
.top-title .search-input::placeholder {
  color: #6a6d7b;
}
.top-title .spacer-line {
  margin: 0 55px;
  height: 60%;
  border-left: 2px solid #242632;
  border-right: 2px solid #242632;
  border-radius: 10px;
}
.top-title .title-buttons-container {
  display: flex;
  width: 100%;
  height: 30px;
}
.top-title .account-container {
  margin-top: 30px;
  height: 40px;
  display: flex;
}
.top-title .account-container .account,
.top-title .account-container .downloads,
.top-title .account-container .friends {
  height: 100%;
  background-color: #1f2229;
  border-radius: 8px;
}
.top-title .account-container .account {
  display: flex;
  width: 150px;
}
.top-title .account-container .account .account-icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 8px 0 0 8px;
}
.top-title .account-container .account .account-icon img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.top-title .account-container .account .account-name {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 10px;
  width: 100%;
}
.top-title .account-container .account .account-name h3 {
  color: white;
  margin: 0;
}
.top-title .account-container .friends {
  width: 40px;
  margin: 0 10px;
}
.top-title .account-container .downloads {
  width: 40px;
  margin-right: 30px;
}

.left-nav {
  width: 100%;
  height: 100%;
  display: flex;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #15181d;
}
.left-nav .content-container {
  width: 100%;
  min-height: 300px;
}
.left-nav .content-container .buttons-container {
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
}

.center-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.center-content .friends-container,
.center-content .home-container,
.center-content .library-container,
.center-content .settings-container,
.center-content .store-container {
  animation: fadeIn 0.25s;
  padding: 10px;
  float: left;
  margin: 1rem;
  position: absolute;
  font-size: 15px;
}
.center-content .store-container {
  overflow: auto;
  display: grid;
  grid-template-rows: 30% auto;
  margin: 0;
  padding: 0;
}
.center-content .store-container .games-container {
  padding: 10px;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-template-rows: repeat(auto-fill, 230px);
  gap: 2rem 2rem;
}
.center-content .store-container .title-container {
  width: 100%;
  height: 100%;
  background-color: #15181d;
  text-align: center;
  box-shadow: 0 5px 10px;
}
.center-content .store-container .title-container h1 {
  position: static;
  font-size: 4vmax;
  color: white;
  width: 100%;
}
.center-content .store-container .title-container img {
  position: relative;
  object-fit: cover;
  width: 100%;
}
.center-content .library-container {
  display: grid;
  height: 100%;
  margin-bottom: 10px;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-template-rows: repeat(auto-fill, 230px);
  gap: 2rem 2rem;
}
.center-content .library-container .spacer {
  height: 200px;
  width: 100%;
}
.center-content .version-text {
  position: fixed;
  font-size: 20px;
  color: white;
  bottom: 20px;
  right: 30px;
  margin: 0;
}

.vl1 {
  position: absolute;
  border-left: 1px solid #ecf0f180;
  border-right: 1px solid #ecf0f180;
  height: 100%;
  left: 190px;
}

.vl2 {
  position: absolute;
  border-left: 1px solid #ecf0f180;
  border-right: 1px solid #ecf0f180;
  height: 100%;
  left: 46%;
}

.vl3 {
  position: absolute;
  border-left: 1px solid #ecf0f180;
  border-right: 1px solid #ecf0f180;
  height: 100%;
  left: 73%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #3c404c;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

/*# sourceMappingURL=App.css.map */
